@import "global.css";
@import "./components/button.css";
@import "./components/header.css";
@import "./components/navigation.css";
@import "./components/question-card.css";
@import "./components/form.css";
@import "./components/dark-mode-switch.css";

img {
  height: 30px;
  width: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  width: 100%;
  text-align: center;
}

a:focus {
  background-color: grey;
}

.profile-picture {
  height: 100px;
  width: 100px;
}

.container--profile--sections {
  margin: 15px 30px;
}

/* 
.profile {
  display: flex;
  align-items: center;
}

.counter {
  display: flex;
  align-items: center;
} */

/* .navbar-highlight {
  background-color: grey;
} */
