body {
  width: 100%;
  height: 896px;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  width: 100%;
  height: 3.5rem;
  padding-top: 15px;
  position: sticky;
  top: 0;
  background: rgb(9, 9, 71);
}

h1 {
  color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  border: solid 2px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  background-color: darkgray;
  color: white;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

button {
  margin-bottom: 10px;
}

img {
  height: 30px;
  width: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  width: 100%;
  text-align: center;
}

a:focus {
  background-color: grey;
}
