.form {
  /* border: none;
    border-radius: var(--border-radius); */
  padding-top: 20px;
  margin: 15px;
  flex-direction: column;
  background-color: var(--color-cards);
  /* position: relative; */
}

.form-button {
  margin-top: 15px;
}

.fieldset {
  border: none;
}

.form-container {
  margin: 10px;
}

.characters {
  font-family: Arial, Helvetica, sans-serif;
}

.add-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* .add-button {
  display: flex;
  position: ;
  bottom: 0;
  z-index: 10;
} */
