.question-cards {
  border: none;
  border-radius: var(--border-radius);
  margin: 15px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  background-color: var(--color-cards);
}

.bookmark {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
