.question-cards {
  border: none;
  border-radius: var(--border-radius);
  padding: 0 20px;
  margin: 15px;
  font-size: 1em;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  background-color: var(--color-cards);
  position: relative;
}

.bookmark-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.bookmark-icon {
  width: 2em;
}

.bookmark-empty {
  background-image: url("../assets/icons/bookmark_empty_icon.svg");
  height: 20px;
  width: 20px;
  display: inline-block;
}

.bookmark-active {
  background-image: url("../assets/icons/bookmark_black_icon.svg");
  height: 20px;
  width: 20px;
  display: inline-block;
  background-position: center center;
}

.answer {
  font-size: 1em;
  height: auto;
  width: auto;
  border: none;
  border-radius: var(--border-radius);
  margin: 0 15px 15px 15px;
  flex-direction: column;
  background-color: var(--color-cards);
}
